body {
  font-size: 26px;
}
.box {
  height: 75px;
  width: 150px;
  border: 5px solid black;
}
.color-type-label {
  font-size: 32px;
}
.align-colors {
  display: flex;
  justify-content: space-around;
}

.align-labels {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.brief-label {
  text-align: center;
}

.exercise {
  padding: 40px 20px;
}
